body{
    font-size: 13px;
    font-family: 'Poppins';
}
.navbar .navbar-brand img{
    width: 120px;
    height: auto;
}
.navbar .nav-item .nav-link.active, .navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link:focus{
    color: #303983;
    font-weight: bold;
}


/* ----------------------common css start---------------------- */

.head-color{
    color: #303983;
}
.button-style{
    background-color: #303983;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    border: 0;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
}
/* .float-shadow {
    display: inline-block;
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
  } */
  .button-style:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform opacity;
  }
  .button-style:hover {
    transform: translateY(-5px);
    border: 1px solid #303983;
    background-color: transparent;
    color: #303983;
    transition: 0.3s ease;
  }
  .button-style:hover:before {
    opacity: 1;
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }

.sub-head-color{
    color: #2D3033;
}
.para-color{
    color: #8D9195;
}

/* ----------------------common css end---------------------- */



/* -----------------------------home start------------------------------ */

.home{
    margin-top: 200px;
    /* background-image: url("/images/homebg.png"); */
}
.home p{
    width: 70%;
}
.home .home-contents{
    margin-top: 120px;
}
.home img{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: block;

}

/* -----------------------------home start------------------------------ */



/* -----------------------------about start------------------------------ */

.about{
    margin-top: 150px;
}
.about h4{
    width: 40%;
    margin: 0 auto;
}
.about p{
    text-align: justify;
}
.about .left-content{
    margin-top: 150px;
}
.about .right-content{
    margin-top: 150px;
}
.about i{
    font-size: 15px;
}
.about img{
    width: 650px;
    height: 400px;
    margin: 0 auto;
    display: block;
}

/* -----------------------------about end------------------------------ */



/* -----------------------------members start------------------------------ */

.members{
    margin-top: 150px;
    background-color: #303983;
    padding: 100px 50px;
    color: white;
    text-align: justify;
}
.members .members-para{
    width: 60%;
    margin: 0 auto;
}
.members .row{
    margin-top: 50px;
}
.members img{
    width: 120px;
    height: 120px;
    border: 5px solid white;
    border-radius: 50%;
}
.members .member-details{
    line-height: 80%;
}
.members .carousel-indicators {
    bottom: -65%;
}


/* -----------------------------members end------------------------------ */



/* -----------------------------programms start------------------------------ */

.programms{
    margin-top: 150px;
}
.programms .programms-details{
    margin-top: 50px;
}
.programms .pgms-description{
    margin-top: 100px;
    width: 70%;
    text-align: justify;
}
.programms  .card-body {
    padding: 0;
}
.programms img{
    width: 600px;
    height: 400px;
}
.programms  .card .left-col{
    background-color: #303983;
}
.programms  .col-right{
    padding: 20px;
    background-color: #8088C7;
}
.programms  .card{
    border-radius: 100px;
    width: 100%;
    height: 100%;
}
.programms .programms-cards{
    margin-top: 50px;
}

/* -----------------------------programms end------------------------------ */





/* -----------------------------gallery end------------------------------ */

.gallery{
    margin-top: 150px;
}
.gallery .members-para{
    width: 70%;
    text-align: justify;
    margin: 0 auto;
}
.gallery .gallery-photos{
    margin-top: 50px;
}
.gallery .gallery-photos img{
    border-radius: 5px;
    width: 300px;
    height: 220px;
}




.gallery  .gallery-img .content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.gallery  .gallery-img .content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.gallery  .gallery-img .content:hover .content-overlay{
  opacity: 1;
}

.gallery  .gallery-img .content-image{
  width: 100%;
}

.gallery  .gallery-img .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.gallery  .gallery-img .content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.gallery  .gallery-img .content-details h6{
  color: #fff;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.gallery  .gallery-img .content-details p{
  color: #fff;
  font-size: 0.8em;
}

.gallery  .gallery-img .fadeIn-bottom{
  top: 80%;
}


/* -----------------------------gallery end------------------------------ */




/* -----------------------------blog start------------------------------ */

.blog{
    margin-top: 150px;
}
.blog-para{
    width: 70%;
    margin: 0 auto;
}
.blog .row{
    margin-top: 50px;
}
.blog .row .card{
    border-radius: 20px;
    border: 0;
    background-color: #303983;
}
.blog .card .blog-details{
    text-align: justify;
    color: rgb(216, 217, 221);
}
.blog .card img{
   border-radius: 10px;
}
.blog .card a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}
.blog .card a:hover{
    color: rgb(197, 195, 207);
}
.blog .view-all a{
    text-decoration: none;
    color: #303983;
    transition: 0.3s ease;
    font-size: 15px;
}
.blog .view-all a:hover{
    color: #8088C7;
}
/* .blog .view-all i{
    font-size: 15px;
} */


/* -----------------------------blog start------------------------------ */

.footer{
    margin-top: 150px;
    background-color: #151B51;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* -----------------------------blog end------------------------------ */